{% extends "AppBundle::layout.html.twig" %}

{% block title "What can I use?" %}

{% block content_header '' %}

{% block content %}
    <ul>
        <li>
            test {{ framework.getName() }}
        </li>
    </ul>
{% endblock %}
